<div class="col-12 col-md-12 col-lg-12">
    <div class="card">
        <div class="col-12">
            <form>
                <div class="card-header">
                    <h4><i class="fas fa-certificate" style="font-size: 20px;"></i> דגימה</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-3 col-12">
                            <label class="control-label" style="color:#01416F; font-weight:bolder;">דגימה # </label>
                            <div class="col-sm-3">
                                <label class="control-label" id="lbl_DOCNO"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-12">
                            <label class="control-label" style="color:#01416F; font-weight:bolder;">תאריך דגימה</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="lbl_CURDATE"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-12">
                            <label class="control-label" style="color:#01416F; font-weight:bolder;">כמות</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="lbl_QUANT"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-12">
                            <label class="control-label" style="color:#01416F; font-weight:bolder;">מספר מק"ט </label>
                            <div class="col-sm-3">
                                <label class="control-label" id="lbl_SERIALNAME"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3 col-12">
                            <label class="control-label" style="color:#01416F; font-weight:bolder;">כמות מבוקשת</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="lbl_SHR_RAR"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-12">
                            <label class="control-label" style="color:#01416F; font-weight:bolder;">כמות למק"ט</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="lbl_SHR_SERIAL_QUANT"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-12">
                            <label class="control-label" style="color:#01416F; font-weight:bolder;">סטטוס דגימה</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="lbl_STATDES"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-3 col-12">
                            <label class="control-label" style="color:#01416F; font-weight:bolder;">תקן דגימה</label>
                            <div class="col-sm-3">
                                <label class="control-label" id="lbl_SHR_SAMPLE_STD_CODE"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
