<div class="section-body" id="sampleDetails" style="display:none;">
    <div id="modal-Sample-part" class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="col-12">
                <form>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">דגימה # </label>
                                <div class="col-sm-12">
                                    <label class="control-label" id="lbl_DOCNO"></label>
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">תאריך דגימה</label>
                                <div class="col-sm-12">
                                    <label class="control-label" id="lbl_CURDATE"></label>
                                </div>
                            </div>
                            @*סוג דגימה,מנת ספק, גודל מנה (פתוח לעדכון), תקן דגימה, rohs complaint*@
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">סטטוס דגימה</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="lbl_STATDES"></select>
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">סוג דגימה </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="lbl_SAMPLE_TYPE_CODE" value="ספק" readonly="readonly"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">מנת ספק</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="lbl_EFI_SUPNO" />
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">גודל מנה</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" id="lbl_SHR_QUANT" />
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">rohs complaint</label>
                                <div class="col-sm-12">
                                    <input type="checkbox" class="form-control" id="lbl_SHR_ROHS" />
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">תקן דגימה</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="lbl_SHR_SAMPLE_STD_CODE" ></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>