@model TestPortal.Models.PageObject
@{
    ViewBag.Title = "הזמנות";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.shrinkToFit = false;
</script>
<!-- Main Content -->
<div class="section-body" id="mainPageContent" style="overflow-y:scroll;">
    <div class="card">
        <div class="card-body" >
            <div>
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
    <div id="loader" class="loader"></div>
</div>
<script type="text/javascript">
    var gridBaseWidth = 0;
    var isWidth = false;

    $(window).on("resize", function () {
        var $grid = $("#jqGrid"),
            newWidth = $grid.closest(".ui-jqgrid").parent().width();

        console.log(" resize ==> newWidth ", newWidth);
        console.log(" resize ==> gridBaseWidth ", gridBaseWidth);
        if (newWidth > gridBaseWidth)
            newWidth = gridBaseWidth;
        $grid.jqGrid("setGridWidth", newWidth, true);
    });

    $(window).load(function () {

        $('.section-body').css('height', $(document).innerHeight() - ($(document).innerHeight() / 30));
        $('.section-body').css('height', $('.section-body').height() - ($(document).innerHeight() - $('.section-body').height()));
    });

    $(document).ready(function () {


        //$('#mainPageContent').attr('style', 'height:' + elmnt.offsetHeight - 100 +'px;)';
        $("#loader").show();
        getData("@Model.User.Supplier_ID");

        var $grid = $("#jqGrid"),
            newWidth = $grid.parent().width();

        if (!isWidth) {
            gridBaseWidth = newWidth;
            isWidth = true;
        }
        $('#jqGrid').setGridParam({ direction: 'rtl' });
        
        console.log(" onload ==> newWidth ", newWidth);
        console.log(" onload ==> gridBaseWidth ", gridBaseWidth);

        $('.section-body').css('height', $(document).innerHeight() - ($(document).innerHeight() / 30));
        $('.section-body').css('height', $('.section-body').height() - ($(document).innerHeight() + $('.section-body').height()));
    });
</script>


