/********************GRID STYLES***************/
.ui-jqgrid > .ui-jqgrid-view {
    font-size: 14px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #00AEEF;
    color: #FFF;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #01416F;
    color: #FFF;
}

    .ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
        color: #FFF;
    }
/********************END GRID STYLES***************/