<div id="divSampleQA" class="col-12 col-md-12 col-lg-12" style="display:none;">
    <div class="card">
        <div class="col-12">
            <form id="modal-test-part" role="form" class="">
                <input type="hidden" id="hdnQaSUPNAME" />
                <input type="hidden" id="hdnQaDOCNO" />
                <input type="hidden" id="hdnQaPARTNAME" />
                <input type="hidden" id="hdnQACODE" />
                <input type="hidden" id="hdnLOCATION" />
                <input type="hidden" id="hdnQA" />
                <input type="hidden" id="hdnQaREPETITION" />
                <input type="hidden" id="hdnQaSAMPQUANT" />
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-2 col-12">
                            <label style="font-weight:bolder;">QA code</label>
                            <div class="col-sm-1">
                                <label type="text" id="txtQACODE" class="form-label"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-12">
                            <label style="font-weight:bolder;">QA desctiption</label>
                            <div class="col-sm-12">
                                <label type="text" id="txtQADES"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-2 col-12">
                            <label style="font-weight:bolder;">Location</label>
                            <div class="col-sm-3 form-label">
                                <label type="text" id="txtQaLOCATION"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-12">
                            <label style="font-weight:bolder;">QA test</label>
                            <div class="col-sm-4 form-label">
                                <label type="text" id="txtQaSHR_TEST" class=""></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2 col-12">
                            <label style="font-weight:bolder;">Result min.</label>
                            <div class="col-sm-1">
                                <label type="text" id="txtQaRESULTMIN" class="form-label"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-12">
                            <label style="font-weight:bolder;">Result max.</label>
                            <div class="col-sm-12">
                                <label type="text" id="txtQaRESULTMAX"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-2 col-12">
                            <label style="font-weight:bolder;">Repitition</label>
                            <div class="col-sm-3 form-label">
                                <label type="text" id="txtQaREPETITION"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-12">
                            <label>Resultant</label>
                            <div class="col-sm-4 form-label">
                                <input type="checkbox" id="txtQaRESULTANT" class="big-checkbox" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2 col-12">
                            <label style="font-weight:bolder;">Requierd result</label>
                            <div class="col-sm-1">
                                <label type="text" id="txtQaREQUIRED_RESULT" class="form-label"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-12">
                            <label style="font-weight:bolder;">Sample quantity</label>
                            <div class="col-sm-4">
                                <label type="text" id="txtQaSAMPQUANT"></label>
                            </div>
                        </div>
                        <div class="form-group col-md-2 col-12">
                            <label style="font-weight:bolder;">Normal</label>
                            <div class="col-sm-3 form-label">
                                <input type="checkbox" id="txtQaNORMAL" class="big-checkbox" />
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-12">
                            <label style="font-weight:bolder;">Measurment tool</label>
                            <div class="col-sm-4">
                                <label type="text" name="MEASUREDES" id="txtQaMEASUREDES"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2 col-12">
                            <label style="font-weight:bolder;">Test result</label>
                            <input class="form-control" type="number" name="REMARK" id="txtQaRESULT" />
                        </div>
                        <div class="form-group col-md-10 col-12">
                            <label style="font-weight:bolder;">Remark</label>
                            <input class="form-control" type="text" name="REMARK" id="txtQaREMARK" maxlength="120" />
                        </div>
                    </div>
                    <div class="row" id="testRepitition" style="display:none;">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="section-title" style="color:#01416F">Repititions</h5>
                                </div>
                                <div class="row" id="repititionTest"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="section-title" style="color:#01416F">Attachments</h5>
                                    <p class="section-lead">You can upload multiple files.</p>
                                </div>
                                <div class="card-body">
                                    <div class="fallback">
                                        <input name="attachments" id="attachments" type="file" multiple />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


