<div class="section-body">
    <div id="modal-QA-part" class="col-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-file-invoice" style="font-size: 20px;"></i>Test selection </h4>
                </div>
                <div class="card-header">
                    <h6 style="color:red;">NOTE! &nbsp;</h6><h6>Must click "Submit" button before paging the table </h6>
                </div>
                <form>
                    <div class="col-4 col-md-4 col-lg-4">
                        <input type="hidden" id="hdnQaListSUPNAME" value="" />
                        <input type="hidden" id="hdnQaListORDNAME" value="" />
                        <input type="hidden" id="hdnQaListPARTNAME" value="" />
                        <table id="jqGridSampleQA"></table>
                        <div id="jqGridSampleQAPager"></div>
                    </div>
                </form>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4><i class="fas fa-file-invoice" style="font-size: 20px;"></i> Test card</h4>
                </div>
                <div class="col-4 col-md-4 col-lg-4">
                    <table id="jqGridSelectedSampleQA"></table>
                    <div id="jqGridSelectedSampleQAPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>