<div class="section-body" id="sampleDetails" style="display:none;">
    <div id="modal-Sample-part" class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="col-12">
                <form>
                    <div class="card-header">
                        <h4><i class="fas fa-certificate" style="font-size: 20px;"></i> Sample</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">Sample #</label>
                                <div class="col-sm-12">
                                    <label class="control-label" id="lbl_DOCNO"></label>
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">Sample date</label>
                                <div class="col-sm-12">
                                    <label class="control-label" id="lbl_CURDATE"></label>
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">Status</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="lbl_STATDES"></select>
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">Sample type </label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="lbl_SAMPLE_TYPE_CODE" value="ספק" disabled />
                                </div>
                            </div>
                            @*<div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">Quantity</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_QUANT"></label>
                                    </div>
                                </div>*@
                            @*<div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">Serial </label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_SERIALNAME"></label>
                                    </div>
                                </div>*@
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">Supplies portion</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="lbl_EFI_SUPNO" />
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">Portion size</label>
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" id="lbl_SHR_QUANT" />
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">Rohs complaint</label>
                                <div class="col-sm-12">
                                    <input type="checkbox" class="form-control" id="lbl_SHR_ROHS" />
                                </div>
                            </div>
                            <div class="form-group col-md-3 col-12">
                                <label class="control-label" style="color:#01416F; font-weight:bolder;">Sample std.</label>
                                <div class="col-sm-12">
                                    <select class="form-control" id="lbl_SHR_SAMPLE_STD_CODE"></select>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">Request quality</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_SHR_RAR"></label>
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">Serial quant.</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_SHR_SERIAL_QUANT"></label>
                                    </div>
                                </div>

                                <div class="form-group col-md-3 col-12">
                                    <label class="control-label" style="color:#01416F; font-weight:bolder;">Sampling standard</label>
                                    <div class="col-sm-3">
                                        <label class="control-label" id="lbl_SHR_SAMPLE_STD_CODE"></label>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>