@model TestPortal.Models.PageObject
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout_EN.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
<script>
    //$.jgrid.defaults.width = null;
    $.jgrid.defaults.responsive = true;
    $.jgrid.defaults.shrinkToFit = false;
    //$.jgrid.defaults.styleUI = 'Bootstrap';
</script>
<!-- Main Content -->
<div class="section-body">
    @*<h2 class="section-title">Waiting orders to supply</h2>
        <p class="section-lead">Please find the following table with orders left to supply</p>*@
    <div class="card">
        @*<div class="card-header">
                <h4>Orders</h4>
            </div>*@
        @*<div><a href="@Url.Action("TestProduct", "Home")">QA Page</a></div>*@
        <div class="card-body">
            <div>
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
    <div id="loader" class="loader"></div>
</div>
<script type="text/javascript">
    var gridBaseWidth = 0;
    var isWidth = false;

    $(window).on("resize", function () {
        var $grid = $("#jqGrid"),
            newWidth = $grid.closest(".ui-jqgrid").parent().width();

        console.log(" resize ==> newWidth ", newWidth);
        console.log(" resize ==> gridBaseWidth ", gridBaseWidth);
        if (newWidth > gridBaseWidth)
            newWidth = gridBaseWidth;
        $grid.jqGrid("setGridWidth", newWidth, true);
    });
    $(document).ready(function () {
        $("#loader").show();
        getData("@Model.User.Supplier_ID");

        var $grid = $("#jqGrid"),
            newWidth = $grid.parent().width();

        if (!isWidth) {
            gridBaseWidth = newWidth;
            isWidth = true;
        }

        console.log(" onload ==> newWidth ", newWidth);
        console.log(" onload ==> gridBaseWidth ", gridBaseWidth);
    });
</script>


